body,html{
    margin: 0;
    padding: 0;
    height: 100%;

}
.airDeJeu{
    height: 100%;
}
.saisiLettre{
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
}
.pendu{
    margin-left: 30vh;
    margin-top: 40vh;
}